body{
    display: flex;
    justify-content: center;
    margin-top: 125px;
    background-image: url(guess.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#container{
   
    background-color: transparent;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    font-size: x-large;
    color: rgb(234, 238, 238);
    text-shadow: 4px 4px 4px black;
    box-shadow: 4px 4px 4px black;
}
#guessInput:hover{
    transform: scale(1.2,1.2);
}
#btn:hover{
    transform: scale(1.2,1.2);
    background-color: gray;
}
#items{
    padding: 20px;
}